language: php
sudo: true
php:
- 7.2
- 7.1
cache:
  directories:
  - "$HOME/.composer/cache/files"
stages:
- test
- name: deploy
  if: branch = master
jobs:
  include:
  - stage: deploy
    install: true
    before_install:
    - sudo apt-get update
    - sudo apt-get install graphviz
    script:
    - wget http://phpdox.de/releases/phpdox.phar && chmod +x phpdox.phar && sudo mv
      phpdox.phar /usr/local/bin/phpdox
    - mkdir build/ && php vendor/bin/phploc src tests/src/Base --log-xml build/phploc.xml
    - phpdox
    after_success: true
    deploy:
      provider: pages
      skip-cleanup: true
      github-token: "$GITHUB_TOKEN"
      local-dir: build/docs/html
      on:
        branch: master
  - script:
    - npm install
    - npm run semantic-release
    after_success: skip
    before_script: skip
    language: node_js
    node_js: 10
    php: skip
before_script:
- travis_retry composer install --prefer-dist
script:
- "./vendor/bin/phpunit --configuration phpunit.xml --coverage-clover build/logs/clover.xml"
after_success:
- php vendor/bin/php-coveralls -v